div{
    height: 300px;
    width: 300px;
    margin: 15px;
    border: 2px solid red;
    border-radius: 15px;
    float: left;
    overflow: hidden;
    outline-style: auto;
    outline-color: invert;
    outline-width: 20px;
    outline-offset: 13px ;
}
#div2{
    
}