h1{
    border-bottom: 2px blue;
}
input{
    padding: 10px;
}
#submit{

    color: white;
    background-color: blue;
}
div{ width: 600px;
    margin: auto;
}
label{
    display: inline-block;
    width: 180px;
    text-align: right;
}